{
  "DB_CONFIG": "eyJkYkNvbmZxxxxxxxxxxxxxxxxxxxxxx6eyJEQl9OQU1FIjoiUkRTQ3Vyc28iLCJEQl9TRVJWRVIiOiJyZHMtc2VydmVybGVzcy5jYnhiMm52dHJsZHcudXMtZWFzdC0xLnJkcy5hbWF6b25hd3MuY29tIiwiREJfVVNFUiI6ImFkbWluIiwiREJfUEFTUyI6InBhc3N3b3JkIiwiRxxxxxxxxxxjoiIiwiREJfSU5TVEFOQ0UiOiIifX19",
  "SECURITY_GROUP_ID": "sg-0xxxxxxxxxxxxxxf8",
  "SUBNET1_ID": "subnet-0xxxxxxxxxxxxxx",
  "SUBNET2_ID": "subnet-0xxxxxxxxxxxxxx",
  "SUBNET3_ID": "subnet-0xxxxxxxxxxxxxx",
  "SUBNET4_ID": "subnet-0xxxxxxxxxxxxxx",
  "SUBNET5_ID": "subnet-0xxxxxxxxxxxxxx",
  "SUBNET6_ID": "subnet-0xxxxxxxxxxxxxx"
}